.titulo{
    padding-top: 30px;
    text-align: center;
    font-size: 70px;
}
.titulo2{
    text-align: center;
}

.cuadro{
    justify-self: center;
    border-style:dashed; 
    border-width: 5px;
    height: 100px;
    width: 800px;
    border-color: black;
    text-align: center;
    font-size: 15px;
}

.autoevaluacion{
    margin-top: 30px;
}

.tabla{
    margin-top: 50px;
    max-width: 400px;
    margin-bottom: 100px;
}

